---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="site-header">
	<a class="btn logo" href="/">{SITE_TITLE}</a>
	<nav>
		<div class="internal-links">
			<HeaderLink class="btn primary" href="/work">Work</HeaderLink>
			<HeaderLink class="btn primary" href="/about">About</HeaderLink>
			<HeaderLink class="btn primary" href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
