.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #0056b3;
  }

  &.primary {
    background-color: #28a745;

    &:hover {
      background-color: #218838;
    }
  }

  &.secondary {
    background-color: #6c757d;

    &:hover {
      background-color: #5a6268;
    }
  }
}
