.app-header {
  position: fixed;
  z-index: 1;
  background: $neutral-color;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .nav-links {
    display: flex;
    gap: 1rem;
  }
}
