.hero {
  height: 70vh;
  .card {
    grid-column: 2 / 5;
  }
  .statement {
    grid-column: 8 / 11;
    align-self: end;
  }
}

@media (width <= 980px) {
  .hero {
    .card {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    .statement {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}
@media (width <= 600px) {
  .hero {
    .card {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
    .statement {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
}
