body {
  background: $neutral-color;

  main {
    margin: 66px 0;
  }
}

section {
  width: 100%;
  padding: 2rem 0;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

@media (width <= 980px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
