// _typography.scss

body {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.6;
  color: $font-color;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: $spacing-unit;
}

a {
  color: $font-color;
  text-decoration: none;
}

p {
  margin-bottom: $spacing-unit;
}

strong {
  font-weight: bold;
  color: $accent-color;
}

accent {
  font-size: 1.75rem;
  color: $accent-color;
  font-style: italic;
}
