// _variables.scss

// Colours
$primary-color: #0d4427;
$accent-color: #c98282;
$font-color: #2b2b2b;
$neutral-color: #f5f5f5;

// Fonts
$font-stack: "Inter", sans-serif;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.125rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height-base: 1.5;

// Spacing
$max-width: 1920px;
$spacing-small: 0.5rem;
$spacing-unit: 1rem;

$border-radius: 0.25rem;
