---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import '../assets/scss/main.scss';

interface Props {
	title?: string;
	description?: string;
}

// Check if this is the homepage
const isHomepage = Astro.url.pathname === '/';

const organizationSchema = {
    '@context': 'https://schema.org',
    '@type': 'Person',
    name: 'Josh Hudson',
    url: 'https://josh-hudson.co.uk',
    jobTitle: 'Web Developer',
    description: 'Full-Stack Web Developer in Worthing & Brighton',
    image: 'https://josh-hudson.co.uk/img/profile.webp',
    sameAs: [
        'https://twitter.com/yourusername', // add your twitter
        'https://github.com/yourusername', // add your github
        'https://linkedin.com/in/yourusername', // add your linkedin
    ],
    worksFor: {
        '@type': 'Organization',
        name: 'Self-employed',
    },
};

const schemaJson = isHomepage ? organizationSchema : null;

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		        {schemaJson && (
            <script type="application/ld+json" set:html={JSON.stringify(schemaJson)} />
        )}
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
